<div class='main-left' >
  <p class='main-left-title'>
    カテゴリ別
  </p>
  <div class='main-left-link' >
    <%=link_to '・全て', root_path %>
    <%=link_to '・HTML', codes_path(category: "HTML") %>
    <%=link_to '・CSS', codes_path(category: "CSS") %>
    <%=link_to '・Ruby', codes_path(category: "Ruby") %>
    <%=link_to '・Rails', codes_path(category: "Rails") %>
    <%=link_to '・JavaScript', codes_path(category: "JavaScript") %>
  </div>
</div>