<div class='header' >
  <h2 class='header-title'>
    プログラミング初心者のためのまとめ
  </h2>
  <p  class='header-sub-title'>
    Ruby on railsを学習し始めた自分が、〜したい時どう書くんだったっけ？をまとめたサイトです
  </p>
  <%= form_with(url: "", local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: 'キーワードから探す', class: 'input-box' %>
      <button class="search-button">
        検索
      </button>
  <% end %>
  <div class='first-tab'>
    <div class='first-note'>
      <%=link_to 'はじめに', users_path, class:'first-note-link' %>
    </div>
    <div class='sign-in-out'>
      <% if user_signed_in? %>
        <%=link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
         <%=link_to 'ログイン', new_user_session_path %>
      <% end %>
    </div>
    <div class='make-new-code'>
      <% if user_signed_in? %>
        <%=link_to '新規作成', "#" %>
      <% end %>
    </div>
  </div>
 </div>