<%= render "shared/header" %>

<div class='main' >
  <%= render "shared/category" %>

  <div class='main-center' >
    <%= link_to "目次に戻る", root_path %>
    <div class='show-category'>
      カテゴリー: <%= @code.category %>
    </div>
    <div class='show-title'>
      タイトル: <%= @code.title %>
    </div>
    <div class='show-summary'>
      <b>●要約</b><br>
      <%= safe_join(@code.summary.split("\n"),tag(:br)) %>
    </div>
    <div class='show-detail'>
      <b>●詳細</b><br>
      <%= markdown_to_html(@code.detail).html_safe %>

    </div>
    <div class='show-supplement'>
      <b>●補足</b><br>
      <%= safe_join(@code.supplement.split("\n"),tag(:br)) %>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <div class = "admin-btn">
        <%= button_to "編集へ", edit_code_path(@code.id), method: :get, class: "edit-btn"%>
        <%= button_to "削除", code_path(@code.id), method: :delete %>
      </div>
    <% end %>
  </div>
  <%= render "shared/leftside" %>
</div>
